<div id="Reset_Password">
  <button id="defaultOpen"class="tablinks" style="background-color:#666; width:3em; padding:0.3em; border:none; border-radius:50% 0 0% 50%; color:white" onclick="openForm(event, 'Login')">Back</button>
  <form method="POST" action="/register.php">
    <div class="row">
        <h2 style="text-align:center">Reset Password</h2>
        <div class="col">
          <p>Enter Your Email Address</p>
          <input type="email" name="email" placeholder="abc@xyz.com" required>
          <input type="submit" value="Send Reset Link">
        </div>
    </div>
  </form>
</div>