<div class="row">
  <div class="col-md-9">
    <video autoplay width="100%">
      <source src="../../assets/W3CCSS0I2016-V001500_DTH.mp4" type="video/mp4">
    </video>
  </div>
  <div class="col-md-3">
    <h3>Recent Upload</h3>
    <p>King of Glory (Todd Dulaney ft. Shanah Wilson)</p>
    <p>King of Glory (Todd Dulaney ft. Shanah Wilson)</p>    
    <p>King of Glory (Todd Dulaney ft. Shanah Wilson)</p>
    <p>King of Glory (Todd Dulaney ft. Shanah Wilson)</p>
  </div>
</div>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-7">
    <div class="content">
      <a href="#">Top Download
        <p>Browse through our top downloads to find the most downloads songs</p>
        <p>E.g. I love you, Greater love, King of Glory</p>
      </a>
      <a href="#">New Songs
        <p>Browse through our collection of new songs from around the world</p>
        <p>E.g. I love you, Greater love, King of Glory</p>
      </a>
      <a href="#">Country Songs
        <p>Browse through our collection of country songs</p>
        <p>E.g. I love you, Greater love, King of Glory</p>
      </a>
      <a href="#">Worship
        <p>Browse through our collection of worship songs from everywhere in the world</p>
        <p>E.g. I love you, Greater love, King of Glory</p>
      </a>
      <a href="#">Praise
        <p>Browse through our collection of praise songs from everywhere in the world</p>
        <p>E.g. I love you, Greater love, King of Glory</p>
      </a>
      <a href="#">Medley
        <p>Browse through our collection of choir medley songs from everywhere in the world</p>
        <p>E.g. I love you, Greater love, King of Glory</p>
      </a>
      <a href="#">Nigeria Songs
        <p>Browse through our collection of Nigerian songs</p>
        <p>E.g. I love you, Greater love, King of Glory</p>
      </a>
      <a href="#">Blues
        <p>Browse through our collection of blues from everywhere in the world</p>
        <p>E.g. I love you, Greater love, King of Glory</p>
      </a>
      <a href="#">Reggae
        <p>Browse through our collection of reggae songs from everywhere in the world</p>
        <p>E.g. I love you, Greater love, King of Glory</p>
      </a>
      <a href="#">Jazz
        <p>Browse through our collection of Jazz songs from everywhere in the world</p>
        <p>E.g. I love you, Greater love, King of Glory</p>
      </a>
    </div>
  </div>
</div>