<div class="container">
  <form method="POST" action="/register.php">
    <h2 style="text-align:center">Register</h2>
    <div class="col">
      <input type="text" name="full_name" placeholder="Jane Doe" required>
      <input type="text" name="username" placeholder="Username" required>
      <input type="email" name="email" placeholder="abc@xyz.com" required>
      <input type="password" name="password" placeholder="Password" required>
      <input type="number" name="phone" placeholder="+2348012345678" required>
      <input type="submit" value="Login">
    </div>
  </form>
</div>